<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Xsens MTi 3 IMU -->
    <xacro:macro name="xsens_mti3" params="parent_link sensor_name x y z roll pitch yaw">

        <!-- Link -->
        <link name="${sensor_name}">

            <!-- Mesh -->
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.035 0.035 0.01"/>
                </geometry>
                <material name="black">
                    <color rgba="0.1 0.1 0.1 1.0"/>
                </material>
            </visual>

        </link>

        <!-- Joint -->
        <joint name="${sensor_name}_joint" type="fixed">

            <!-- Origin -->
            <origin xyz="${x} ${y} ${z}" rpy="${radians(roll)} ${radians(pitch)} ${radians(yaw)}" />

            <!-- Frame ID -->
            <parent link="${parent_link}" />
            <child link="${sensor_name}" />
            
        </joint>

        <!-- Gazebo plugin -->
        <gazebo reference="${sensor_name}">

            <!-- Material -->
            <material>Gazebo/Black</material>

            <!-- Sensor properties -->
            <sensor name="${sensor_name}" type="imu">

                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <visualize>false</visualize>

                <!-- SDFormat IMU noise model -->
                <imu>
                    <!-- Angular velocity (rad/s) -->
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.00005</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.000002</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.00005</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.000002</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.00005</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.000002</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>

                    <!-- Linear acceleration (m/s^2) -->
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.0007</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.0004</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.0007</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.0004</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.0007</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.0004</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>

                <!-- Gazebo ROS plugin -->
                <plugin name="${sensor_name}_plugin" filename="libgazebo_ros_imu_sensor.so">
                    <ros>
                        <remapping>~/out:=${sensor_name}/imu</remapping>
                    </ros>
                    <frame_name>${sensor_name}</frame_name>
                    <initial_orientation_as_reference>false</initial_orientation_as_reference>
                </plugin>

            </sensor>
                        
        </gazebo>

    </xacro:macro>
</robot>